
body {
  font-family: 'Aclonica';
  text-align: center;
  background-image: url(./black2.jpeg);
  background-size: cover;
  overflow: hidden;
  min-height: 600px;
}

.is-vishidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
}

ul, menu, dir {
  display: block;
  list-style-type: circle;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  margin-top: 3px;
  text-align: center;
}

.pattern {
  padding: auto;
  width: 40%;
  margin:auto;
  z-index: 0
}

.f {
  position: relative;
}

input {
  display: block;
  border: 1px solid #000;
  background-color: #101010;
}

input[type=search] {
  width: 100%;
  padding: 1em;
  padding-right: 7em;
  position: relative;
  top: 0;
  border: 2px solid #14ff00;
  border-radius: 12px;
  background-color: white;
}

input[type=submit] {
  position: absolute;
  right: 0.75em;
  top: 0.5em;
  bottom: 0.5em;
  z-index: 1;
  width: auto;
  padding: 4;
  cursor: pointer;
  background-color: #4a6737;
  border: 2px solid #14ff00;
  border-radius: 8px;
}
input[type = number]{
  background-color: white;
  text-align: center;
  width: 50%;
  margin-top: 7px;
  background-color: #ddefbb;
  border: 2px solid #14ff00;
  border-radius: 8px;
}
.numb{
  display: flex;
  justify-content: center;
  }
.resultContainer .albumSong {
  padding-top: 5px;
}

ul .a {
  list-style-type: circle;
}

li {
  list-style: none;
  margin-top: 10px;
  text-align: center;
}

a {
  text-decoration: none;
}

textarea:focus, input:focus {
  outline: none;
}

a  {
    color: lime;
    cursor: auto;
    text-decoration:none;
    font-weight: bold;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
a:active{
  color: red;
}
.number{
  text-align: center;
  color: red;
  font-size: 41px;
  -webkit-animation:colorchange 20s infinite alternate;


    }

    @-webkit-keyframes colorchange {
      0% {

        color: blue;
      }

      10% {

        color: #8e44ad;
      }

      20% {

        color: #1abc9c;
      }

      30% {

        color: #d35400;
      }

      40% {

        color: blue;
      }

      50% {

        color: #34495e;
      }

      60% {

        color: blue;
      }

      70% {

        color: #2980b9;
      }
      80% {

        color: #f1c40f;
      }

      90% {

        color: #2980b9;
      }

      100% {

        color: pink;
      }
    }
}

 .logo{
  text-align: center;
  position: absolute;
  z-index: 1;
  max-width: 70%;

}
