body {
  width: 100%;
  text-align: center;
  background-image: url(./black2.jpeg);
  background-size: cover;
  overflow: hidden;
  min-height: 600px;
}

.is-vishidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
}

ul, menu, dir {
  display: block;
  list-style-type: circle;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  margin-top: 10px;
  text-align: center;
}

.pattern {
  position: absolute;
  left: 340px;
  right: 330px;
  top: 8px;
  padding-left: 2cm;
  padding-right: 10cm;
  width: 40%;
  margin-left: 40px;
  padding: 1em;
  background-color: #000000;
}

.f {
  position: relative;
}

input {
  display: block;
  border: 1px solid #000;
  background-color: #101010;
}

input[type=search] {
  width: 100%;
  padding: 1em;
  padding-right: 7em;
  position: relative;
  top: 0;
  border: 2px solid #14ff00;
  border-radius: 12px;
  background-color: white;
}

input[type=submit] {
  position: absolute;
  right: 0.75em;
  top: 0.5em;
  bottom: 0.5em;
  z-index: 1;
  width: 6em;
  padding: 0;
  cursor: pointer;
  background-color: #4a6737;
  border: 2px solid #14ff00;
  border-radius: 8px;
}
input[type = number]{
  background-color: white;
  text-align: center;
  width: 50%;
}
.numb{
  display: flex;
  justify-content: center;
  }
.resultContainer .albumSong {
  padding-top: 25px;
}

ul .a {
  list-style-type: circle;
}

li {
  padding-top: 15xpx;
  list-style: none;
  margin-top: 10px;
  text-align: center;
}

a {
  text-decoration: none;
}

textarea:focus, input:focus {
  outline: none;
}

a:-webkit-any-link {
    color: lime;
    cursor: auto;
    text-decoration:none;
    font-weight: bold;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
a:active{
  color: red;
}
.number{
  text-align: center;
  color: red;
  font-size: 43px;
}
